/* Reset the list styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}


.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d68c11;
}

/* Display list items side by side */
.nav-links li {
    float: left;
}

/* Style the links */
.nav-links li a {
    display: block;
    color: white;
    font-family: Inter, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav-links li a:hover {
    background-color: #111;
}

.column_global {
    margin: 0 15%;
    margin-bottom: 2em;
    max-width: 800px;
    margin-inline: auto;
    min-height: 600px;
}

h1 {
    text-align: center;
    margin: 42px;
}

a#btn_lyft {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #d81eb0;
    border: 2px solid #d81eb0;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_lyft:hover {
    background-color: #fff;
    border: 2px solid #d81eb0;
    color: #d81eb0;
}

footer {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 25px 50px;
    margin-inline: auto;
}